
<%layout("/layouts/boilerplate")%>
<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1><%=statusCode%></h1>
			</div>
			<h2><%=message%></h2>
			<a href="http://localhost:8080/pins">Back To Homepage</a>
		</div>
	</div>
</body>
</html>
