<%layout("/layouts/boilerplate")%>
<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3 mb-5">
        <% for(let pin of allPins){%>
            <a href="/pins/<%=pin._id%>" class="text-decoration-none">
                <div class="card col pin-card">
                    <img src="<%=pin.image.url%>" class="card-img-top" alt="pin" style="width: 100%; height: 20rem; object-fit: cover;">
                    <div class="card-img-overlay"></div>
                </div>
            </a>
        <%}%>
    </div>
</body>
</html>
